@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family:'Geist',sans-serif;
}

.linkHover{
    transition:0.1s ease;
}
.linkHover:hover{
    transform:translate(0,-3px);
}
.glassmorphism{
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
    border: 1px solid rgba(255, 255, 255, 0.28);
}

/* Hide scrollbars but still allow scrolling */
.scrollbar-hidden {
    overflow: hidden;
    /* For horizontal scrolling */
    overflow-x: auto;
    /* For vertical scrolling */
    overflow-y: auto;
}

/* Webkit browsers (Chrome, Safari) */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Firefox */
.scrollbar-hidden {
    scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* IE and Edge */
.scrollbar-hidden {
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

